@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

* {
  font-family: "Mona Sans", sans-serif;
}

@theme {
  /* Background colors */
  --color-primary-bg: #01a6e7;
  --color-dark-card-bg: #1E293B;
  --color-secondary-bg: #f3f4f6;
  --color-dark-primary-bg: #1f2937;
  --color-dark-secondary-bg: #374151;

  /* Text colors */
  --color-primary-text: #443dff;
  --color-secondary-text: #4b5563;
  --color-dark-primary-text: #ffffff;
  --color-dark-secondary-text: #d1d5db;
}

:root {
  --p: #ffff;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  width: 100%;
}
